* {
  box-sizing: border-box;
  text-align: center;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.img figure {
  position: relative;
  color: white;
  overflow: hidden;
  background-color: #3498db;
  height: 500px;
  transition: all ease-in 0.5s;
  cursor: pointer;
}



.img figure img {
  max-height: 100%;
  transition: all ease 0.5s 0.1s;
}

.img figcaption {
  position: absolute;
  top: 0;
  left: 20px;
  right: 50px;
  font-family: "Raleway", Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100%;
}

.img h2 {
  padding-top: 15px;
  padding-left: 10px;
  font-weight: 400;
  font-size: 32px;
}

.img h2 b {
  display: inline-block;
  font-weight: 700;
 
}
.img figure:hover h2 b {
  opacity: 1;
  transform: translateX(0px);
}

.img p {
  position: absolute;
  right: 0;
  bottom: 0;

  max-width: 160px;
  margin-bottom: 2rem;
  text-align: right;
  line-height: 150%;
  border-right: 5px solid white;
  padding-right: 13px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0;
  transition: all ease 0.25s 0.3s;
}

.img figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  content: "";
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 45deg)
    translate3d(0, -100%, 0);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  transition: all ease 0.5s;
}

.img figure:hover img {
  opacity: 0.6;
  scale: 1.1;
}

.img figure:hover figcaption::before {
  transform: translate3d(-100%, 100%, 0) rotate3d(0, 0, 1, 45deg);
}

.img figure:hover figcaption p {
  opacity: 1;
}



.loader {
  background: #000;
  background: radial-gradient(#222, #000);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
  transition: all ease 2s 1s;
  
}
.loader--hidden{
  opacity: 0;
  visibility: hidden;
}
.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: 
  spin 2s cubic-bezier(.175, .885, .32, 1.275) infinite
;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden; 
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  from { transform: rotate(0turn)}
  to { transform: rotate(1turn);}
}